
.product_section .slick-prev, .product_section .slick-next{
    top: -40px;
}
@media (min-width: 1200px) {
    .product_section .slick-prev{
        left: 30%;
    }
    .product_section .slick-next{
        right: 30%;
        text-align: start;
    }
}
.secondary_image .slick-prev{
    left: 0;
    z-index: 9;
    top: 50%;
}
.secondary_image .slick-next{
    right: 10px;
    z-index: 9;
    top: 50%;
}  

@media (max-width: 992px){
    .product_item .image_section .secondary_image{
        display: none;
    }
    .product_item:hover .image_section .primary_image{
        visibility: visible;
        opacity: 1;
    }
    .product_item .content{
        font-size: 12px;
    }
    .slick-slide img{
        height: auto;
    }
    .product_section .slick-prev{
        left:0;
    }
    .product_section .slick-next{
        right: 2px;
        text-align: start;
    }
}
.cat_item{
    position: relative;
    padding: 0;
}
.cat_item h4{
   
    position: absolute;
    bottom: 40px;
    left: 50px;
    right: 50px;
}
.cat_item img{
    width: 98%;
    height: 500px;
}
@media (max-width: 992px){
    .cat_item img{
        height: 400px;
    }
}
.category_slider .slick-dots{
    bottom: 35px;
}
.category_slider .slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: #000000;
    border: 5px solid white;
    outline: none;
    background: #a19898;
    border-radius: 50px;
}
.category_slider .slick-dots li.slick-active button{
    background: black;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }
  
  .video-foreground iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 56.25vw; /* 16:9 aspect ratio */
    transform: translate(-50%, -50%);
    pointer-events: none; /* Ensures that video doesn't interfere with other content */
  }
  .video_section{
    min-height: 100vh;
  }
  .video_overlay{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    background: #00000071;
    z-index: 1;
  }
  .video_overlay .content_bg{
    display: grid;
    place-content: center;
    opacity: 0.6;
    height: 100%;
    color: white;
    text-align: center;
  }
  .section_title{
    position: relative;
    text-align: center;
    margin-top: 20px;
    z-index: 99;
    padding: 10px;
  }
  .section_title span{
    position: relative;
    text-align: center;
    margin-top: 20px;
    background-color: white;
    z-index: 99;
    padding: 0 10px;
  }
  .section_title::before {
    content: "";
    border-top: 1px solid #ddd;
    height: 3px;
    border-bottom: 1px solid #ddd;
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 0;
  }
  .section_title::after {
    
  }