.product-item{
    position: relative;
    padding: 5px;
}
.product-item .image {
    position: relative;
    aspect-ratio: 7/10;
    overflow: hidden;
}
.product-item .image .secondary_image{
    visibility: hidden;
    opacity: 0;
    transition: 2s;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.product-item:hover .image .secondary_image{
    visibility: visible;
    opacity: 1;
    transform: scale(1.5);
    
}
.product-item:hover .image .primary_image{
    visibility: hidden;
    opacity: 0;
    transform: scale(1.5);
}
.product-item .image .primary_image{
    visibility: visible;
    opacity: 1;
    width: 100%;
    transition: 2s;
}
.fixed_content{
    position: absolute;
    top: 10px;
    right: 10px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}
.fixed_content a{
    color: rgb(78, 78, 78);
    display: block;
    padding: 5px;
}
.product-item:hover .fixed_content{
    visibility: visible;
    opacity: 1;
}
.product-item .content .hoverable{
    color: rgb(31, 30, 30);
    cursor: pointer;
    text-decoration: none;
}
.product-item:hover .content .hoverable{
    color: rgb(187, 10, 10);
    cursor: pointer;
}
.product-item .right_content{
    display: none;
}
.product-item .content .content_p{
    display: none;
}
.list_view .product-item.image .fixed_content{
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}
.list_view .product-item .image{
    width: 180px;
    overflow: hidden;
}
.list_view .product-item > .fixed_content{
    display: none;
}
.list_view .product-item{
    display: flex;
    align-items: center;
}
.list_view .product-item .content{
    padding-left: 2%;
}
.list_view .product-item .content .content_p{
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 60px;
}
.list_view .product-item .right_content{
    display: block;
}
@media (max-width: 768px) {
    .list_view .product-item .image{
        width: 120px;
    }
}